###
### NAMESPACE
###

## Imported methods
import(methods)
import(Biobase)
import(oompaBase)
import(oompaData)

importFrom("graphics", "lines", "rug")
importFrom("stats", "dbinom", "pbinom", "pnorm", "qbinom", "qnorm",
           "rbeta", "rbinom")

## Public classes
exportClasses(BMPT)
exportClasses(TailRankTest)

## S4 methods
exportMethods(as.logical)
exportMethods(getStatistic)
exportMethods(hist)
exportMethods(print)
exportMethods(summary)

## Public functions (Generators)
export(BMPT)
export(TailRankTest)

## Public functions
export(dbb, pbb, qbb, rbb)
export(biomarkerPowerTable)
export(tailRankCutoff)
export(tailRankPower)
export(toleranceBound)

